@font-face {
    font-family: maplefont;
    src: url('../assets/Maplestory OTF Light/Maplestory OTF Light.otf');
}

#root {
    font-family: maplefont, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 125%;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 16px;
}

.card {
    display: grid;
    grid-template-rows: 3fr 1fr;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    padding: 16px;
    height: 250px;
    background-color: white;
    font-family: maplefont;
    font-size: 20px;
    cursor: pointer;
}

.card:hover {
    background-color: rgb(211, 211, 211);
}

.card-title, .card-image {
    pointer-events: none;
}

.card-title {
    text-align: center;
    align-self: end;
}

.card-image {
    justify-self: center;
    align-self: center;
}